*,
*::before,
*::after{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}